.tarjeta:hover {
    scale: 1.05;
}
@keyframes entrar {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}
.tarjeta, .tareaInfo {
    background-color: #121F38;
}
.tarjeta {
    animation: entrar 0.6s;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    box-shadow:
    0 10px 30px rgba(0,0,0,.45),
    0 0 20px rgba(79,70,229,.12);
    color: #d3dfdf;
    border-radius: 15px;
    transition: 200ms;
    width: 310px;
    height: 230px;
    padding: 20px;
}
.tareaTitulo {
    padding: 10px 0px;
    width: 100%;
    height: 20%;
    font-size: 20px;
}
.tareaTitulo p,
.tareaInfo p {
    margin: 2px 0px;
}
.tareaInfo {
    color: #afb7b7;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.tareaBotones {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tareaUrgencia{
    padding: 10px;
    border-radius: 15px;
}
.tareaHr{
    border: none; 
    height: 3px; 
    background-color: #334f83; 
    width: 100%;
}
.tareaBotonDetalles,
.tareaBotonEliminar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px;
    margin-top: 10px;
    border-radius: 0px;
    font-size: 15px;
    border: 0;
    cursor: pointer;
    transition: 200ms;
    color: #9f67ff;
    background-color: #121F38;
}
.tareaBotonDetalles {
    width: 50%;
    border-bottom-left-radius: 15px;
}
.tareaBotonEliminar {
    width: 50px;
    border-bottom-right-radius: 15px;
}
.tareaBotonDetalles img{
    width: 40px;
}
.tareaBotonEliminar img{
    width: 30px;
}
.tareaBotonDetalles:hover,
.tareaBotonEliminar:hover {
    opacity: 50%;
}
.tareaBotonDetalles p,
.tareaBotonEliminar p{
    width: 100%;
}

/*Modal de detalles que se muestra*/
.modalDetalles {
    animation: entrar 0.3s;
    z-index: 5000;
    display: block;
    background-color: #132335;
    border: 5px solid #94a6ac;
    border-radius: 25px;
    color: white;
    width: 400px;
    min-height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 100px black;
}
.navDetalles {
    border-bottom: #94a6ac 5px solid;
    max-width: 100%;
    max-height: 10%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainDetalles {
    max-width: 100%;
    height: 100%;
    padding: 15px 10px;
}
.cerrarDetalles {
    width: 40px;
    height: 40px;
    margin: 0px;
    background-color: red;  
    cursor: pointer;
}
.cerrarDetalles:hover {
    opacity: 50%;
}
.cabezeraDetalles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.linea {
    margin: 20px 0px;
}
.fondoDetalles {
    z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 50%;
}
